html {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  margin: 0;
}
div,
section,
header,
footer,
p,
h1,
h2 {
  box-sizing: border-box;
}
a {
  color: royalblue;
}
img {
  max-width: 100%;
  height: auto;
}

.global-width {
  max-width: 620px; /*모바일 기기에서는 더 줄어들어야 해서*/
  margin: 0 auto;
  padding: 0 15px;
}
.scroll-graphic {
  overflow-x: hidden;
  position: sticky;
  height: 100vh;
  top: 0;
}
.graphic-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 500ms;
  will-change: opacity;
}
.graphic-item.visible {
  opacity: 1;
}
.scene-img {
  max-height: 100vh;
}
.bird {
  position: absolute;
  left: 0;
  bottom: 70%;
  width: 100px;
  transition: 1.5s 0.5s linear;
  transform: translate(-100%);
}
.scroll-text {
  position: relative;
}
.step {
  margin-bottom: 60vh;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}

[data-index="5"] .bird {
  left: 30%;
  bottom: 30%;
}
.global-footer {
  padding: 16px 0;
  text-align: center;
}
